<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>URL Shortener</title>
</head>
<body>
    <div class="container">
        <h1 >URL Shortener</h1>
        <form action="/" method="post">
            <!-- taking user inputs -->
            <div>
                <label for="url">Enter URL:</label><br>
                <input type="url" name="url" id="url" required>
            </div>

            <div>
                <label for="shortCode">Enter shortCode:</label><br>
                <input type="text" name="shortCode" id="shortCode" required>
            </div>
            <button type="submit">Shorten</button>
        </form>

        <h2>Shortened URLs</h2>
        <ul >{{shortened_urls}}</ul>
    </div>

<script>
    // //getting reference
    // document.getElementById('shorten-form').addEventListener('submit',async(event)=>{
    //     //prevent auto submit
    //     event.preventDefault();
    //     //Formdata helps to get data of form from user
    //     const formData=new FormData(event.target);
    //    // console.log(formData.get('url')); //we will get the value associated with key url
    //    const url = formData.get('url');
    //    const shortCode = formData.get('shortCode');

    //    try{
    //     const response=   await fetch("/shorten",{
    //         method:"POST",
    //         headers:{"Content-Type":"application/json"},
    //         body:JSON.stringify({url,shortCode})
    //     });
    //     if(response.ok){
    //          fetchShortenedURL();
    //         alert("Form submitted successfully");
    //         event.target.reset();  //auto refresh
    //     }else{
    //         const error=await response.text();
    //         alert("error")
    //     }
    //    }catch(error){
    //         console.log(error);
    //    }


    // })
    // //func to show urls
    // const fetchShortenedURL=async()=>{
    //     const response=await fetch("/links");
    //     const links=await response.json();
    //     //getting reference of place to show urls
    //     const list=document.getElementById('shortened-urls');
    //     list.innerHTML=""; //to ensure list is empty initially

    //     for(const[shortCode,url] of Object.entries(links)){
    //         const li=document.createElement('li'); //create element for adding links
    //         const truncatedURL=url.length>=30? `${url.slice(0,30)}...`:url;
    //         li.innerHTML=`<a href="/${shortCode}" target="_blank">${window.location.origin}/${shortCode}</a> -${truncatedURL}`; //window.loc.origin is used to get the current url location ie https localhost
    //         list.appendChild(li);
    //     }

    // }


    // fetchShortenedURL();


</script>    
</body>
</html>